@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model sneakers.Models.MessagesViewModels.ChatMessagesViewModel
@{
    ViewData["Title"] = "Chat";

}

<h1>ChatMessages</h1>
<div class="mainMsgContainer card">

    <div class="card-body">
        @foreach (var item in Model.ChatMessages)
        {
            var currentUser = SignInManager.UserManager.GetUserId(User);
            @if(@item.SenderId == currentUser)
            {
                <div class="chatMessage currentUserMessage">
                    <div class="">@item.Msg</div>
                    <span>@item.Date.ToString("MMMM d, hh:mm tt") @ViewBag.curruserName</span>
                    <span class="btn btn-dark"><a asp-action="DeleteChatMessage" asp-route-otherUserId="@item.ReceiverId" asp-route-msgId="@item.MessageId" asp-route-sneakerId="@item.SneakerId">Delete</a></span>
                </div>

            }
            else
            {
                <div class="chatMessage">
                    <div class="otherUserMessage">@item.Msg <br /> <span>@item.Date.ToString("MMMM d, hh:mm tt") </span></div>
                </div>
            }
        }
    </div>

    <div>
        <form autocomplete="off" class="chatInputForm" asp-action="CreateMessage" asp-controller="Messages">
            <input type="hidden" asp-for="SneakerId" />
            <input type="hidden" asp-for="@Model.OtherUserId" />
            @*<input type="hidden" asp-for="Message.Msg" />*@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="chatInputDiv form-inline">
                <input class="chatInput" autocomplete="off" spellcheck="false" asp-for="Message.Msg"/>
                <button type="submit" value="Send" class="btn btn-primary submitButton">
                    Send
                </button>
            </div>
        </form>
    </div>
</div>