@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

@model IEnumerable<sneakers.Models.MessagesViewModels.ConversationsViewModel>
@{
    ViewData["Title"] = "Conversations";
}
<h1 class="convoHeader">Conversations</h1>

@*<div class="main-container">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.Sneaker.ImgPath ?? "noimage.jpg");
        var currentUserId = SignInManager.UserManager.GetUserId(User);

        @if (item.Sneaker.IsSold == true) 
        {
            <div>
                <img class="card-img-top imageThumbnail" src="~/images/@item.Sneaker.ImgPath"
                     asp-append-version="true" />
                @if (currentUserId != item.OtherUserId)
                {
                    // other user
                    <div>Chat with: @item.OtherUser.FirstName </div>
                }
                <div>Sneaker is Sold!</div>
            </div>
        }
        else
        {
            <div>
                <img class="card-img-top imageThumbnail" src="~/images/@item.Sneaker.ImgPath"
                     asp-append-version="true" />
                @if (currentUserId != item.OtherUserId)
                {
                    // other user
                    <div>Chat with: @item.OtherUser.FirstName </div>
                }
                <div class="btn btn-info"><a asp-action="Chat" asp-route-sneakerId="@item.SneakerId" asp-route-otherUserId="@item.OtherUserId">Chat</a></div>
            </div>
        }

    }
</div>*@

<div class="listConversations">
    <div class="seller">
        <h2>Selling Sneakers</h2>
        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + (item.Sneaker.ImgPath ?? "noimage.jpg");
            var currentUserId = SignInManager.UserManager.GetUserId(User);


            @if (currentUserId == item.Sneaker.UserId)
            {
                <div class="sellerCurrUserContainer">
                    <img class="card-img-top imageThumbnail" src="~/images/@item.Sneaker.ImgPath"
                         asp-append-version="true" />
                    @if (currentUserId != item.OtherUserId)
                    {
                        // other user
                        <div>Chat with: @item.OtherUser.FirstName </div>
                    }
                    @if (item.Sneaker.IsSold == true)
                    {
                        <div>Sneaker is Sold!</div>
                    }
                    else
                    {
                        <a class="btn btn-outline-dark" asp-action="Chat" asp-route-sneakerId="@item.SneakerId" asp-route-otherUserId="@item.OtherUserId">Chat</a>
                    }
                </div>
            }
        }
    </div> @*end seller div*@
    <div class="buyer">
    <h2>Buying Sneakers</h2>
        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + (item.Sneaker.ImgPath ?? "noimage.jpg");
            var currentUserId = SignInManager.UserManager.GetUserId(User);


            @if (currentUserId != item.Sneaker.UserId)
            {
                <div class="buyersContainer">
                    <img class="card-img-top imageThumbnail" src="~/images/@item.Sneaker.ImgPath"
                         asp-append-version="true" />
                    @if (currentUserId != item.OtherUserId)
                    {
                        // other user
                        <div>Chat with: @item.OtherUser.FirstName </div>
                    }
                    @if (item.Sneaker.IsSold == true)
                    {
                        <div>Sneaker is Sold!</div>
                    }
                    else
                    {
                        <a class="btn btn-outline-dark" asp-action="Chat" asp-route-sneakerId="@item.SneakerId" asp-route-otherUserId="@item.OtherUserId">Chat</a>
                    }
                </div>
            }
        }
    </div> @* end the buyer div*@
</div>