@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


@model IEnumerable<sneakers.Models.Sneaker>

@{
    ViewData["Title"] = "Index";
}

<h1>All Sneakers</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsSold)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + (item.ImgPath ?? "noimage.jpg");
            var currentUser = SignInManager.UserManager.GetUserId(User);
            @if (item.UserId == currentUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size.ShoeSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.BrandType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsSold)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition.ConditionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img class="card-img-top imageThumbnail" src="~/images/@item.ImgPath"
                             asp-append-version="true" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SneakerId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.SneakerId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.SneakerId">Delete</a>
                    </td>
                </tr>
            }
            else
            {

                <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Size.ShoeSize)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsSold)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Condition.ConditionType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <img class="card-img-top imageThumbnail" src="~/images/@item.ImgPath"
                         asp-append-version="true" />
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SneakerId">Details</a>
                </td>
            </tr>
            }
        }
    </tbody>
</table>
