@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager


@model IEnumerable<sneakers.Models.Sneaker>

@{
    ViewData["Title"] = "Index";
}

<div class="indexHeader"><img src="~/appImages/put.png"/></div>

<p>
    <a class="btn butt" asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <div>
            <div class="searchContainer">
                <div>Search for a sneaker:</div>
                <div class="form-group">
                    <label for="SearchBar" class="control-label"></label>
                    <select for="SearchBar" class="form-control" name="SearchBar" value=@ViewData["SearchBar"]>
                        <option value="0">All</option>
                        <option value="1">Brand</option>
                        <option value="2">Size</option>
                        <option value="3">Condition</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                    <input type="submit" value="Search" class="btn butt" />
                </div>
                @{ if (ViewData["currentFilter"] != null)
                    {
                        <a asp-action="Index">Back to Full List</a>
                    }
                }
            </div>
        </div>
    </div>
</form>

@{ if (ViewData["currentFilter"] != null)
    {
        <h4>Search results for "@ViewData["currentFilter"]"</h4>
    }
}
@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                Seller
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Condition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgPath)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + (item.ImgPath ?? "noimage.jpg");
            var currentUser = SignInManager.UserManager.GetUserId(User);
            @if (item.UserId == currentUser)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size.ShoeSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.BrandType)
                    </td>
                    <td>
                        (you)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition.ConditionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img class="card-img-top imageThumbnail" src="~/images/@item.ImgPath"
                             asp-append-version="true" />
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.SneakerId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@item.SneakerId">Delete</a>
                    </td>
                </tr>
            }
            else
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Size.ShoeSize)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Brand.BrandType)
                    </td>
                    <td>
                        <a asp-action="UserProfile" asp-route-userId4Profile="@item.User.Id">@Html.DisplayFor(modelItem => item.User.FirstName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Condition.ConditionType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <img class="card-img-top imageThumbnail" src="~/images/@item.ImgPath"
                             asp-append-version="true" />
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.SneakerId">Details</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>*@

<div class="mainSnkrIndex">
    @foreach (var item in Model)
    {
        var photoPath = "~/images/" + (item.ImgPath ?? "noimage.jpg");
        var currentUser = SignInManager.UserManager.GetUserId(User);
        @if (item.UserId == currentUser)
        {
            <div class="card kickCard" style="width: 18rem;">
                <img class="card-img-top imageThumbnail" src="~/images/@item.ImgPath"
                     asp-append-version="true" />
                <div class="card-body shoeCard text-center blackBack">
                    <h5 class="card-title">@item.Title</h5>
                    <h5 class="card-text">$@item.Price</h5>
                    <div class="btn-group-sm blackBack">
                        <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.SneakerId">Edit</a> |
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.SneakerId">Delete</a>
                    </div>
                </div>
            </div>
        }// end if
        else
        {
            <div class="card kickCard" style="width: 18rem;">
                <img class="card-img-top imageThumbnail" src="~/images/@item.ImgPath"
                     asp-append-version="true" />
                <div class="card-body shoeCard text-center blackBack">
                    <h5 class="card-title">@item.Title</h5>
                    <h5 class="card-text">$@item.Price</h5>
                    <p>
                        <a  asp-action="UserProfile" asp-route-userId4Profile="@item.User.Id">Seller: @item.User.FirstName</a>
                    </p>
                    <div class="btn-group-sm">
                        @*<a   onclick="createModal('@Url.Action("Details", "Restaurant" , new {id=item.SneakerId })')" data-id="@item.SneakerId" class="details btn btn-outline-dark" data-toggle="modal"  data-target="#detailsModal" >Details</a>*@
                        <a class="details btn butt" asp-action="Details" asp-route-id="@item.SneakerId">Details</a>

                    </div>
                </div>
            </div>
        }// end else
    }
</div>

@section Scripts { <script>
             function createModal(url){
          $('#detailModal').load(url);
          $('#detailsModal').modal('show');
    }
        </script>
}